{% extends "base_cli.html" %}
{% block title %}About{% endblock %}
{% block content %}


<section class="about-us-section">
  <!-- <div class="about-text">
    <h1>About us</h1>
    <p>
      At Royal Brothers, we believe everyone should have access to mobility.<br>
      A simple solution to the most complex challenges of the world.
    </p>
  </div> -->
</section>

<div class="p">
    <p>We are a bunch of millennials focused on building India’s largest mobility solutions provider. Our focus has led us to build a platform providing rentals spanning across 14 states, 43 cities and 3 international cities.
   Transportation and mobility solutions is one of the least understood and most unorganized markets. We see this as an unexplored opportunity to build a system that can be trusted by everyone beyond barriers.
   We have no limitations when it comes to two wheelers and enjoy serving everything from a scooter to a superbike available on both website and mobile application.
   We are obsessed with the concept of <br><span style="font-weight: bold;">‘Why buy when you can rent’</span>
</p>

</div>

<section class="timeline-section">
  <h2 class="timeline-title">Our Journey</h2>

  <div class="timeline-item">
    <div class="timeline-year">2015</div>
    <div class="timeline-content">
      <div class="text">
        <h3>The beautiful beginning</h3>
        <p>
          We procured the 1st license in Karnataka and decided to change the way Bike rentals worked
          in India. With 5 motorcycles and a pocket full of confidence the journey started.
        </p>
      </div>
      <div class="icon">
        <img src="" alt="Sunrise Icon" />
      </div>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-year">2016</div>
    <div class="timeline-content">
      <div class="text">
        <h3>Achieving milestones by spreading happiness</h3>
        <p>
          It was not long before we shifted gears and included mopeds and scooters to our fleet,
          became the single largest fleet owner of Royal Enfield bikes and introduced the 150 – 220
          motorcycle range in the mobility market.
        </p>
      </div>
      <div class="icon">
        <img src="" alt="Logo Icon" />
      </div>
    </div>
  </div>
  <div class="timeline-item">
    <div class="timeline-year">2015</div>
    <div class="timeline-content">
      <div class="text">
        <h3>The beautiful beginning</h3>
        <p>
          We procured the 1st license in Karnataka and decided to change the way Bike rentals worked
          in India. With 5 motorcycles and a pocket full of confidence the journey started.
        </p>
      </div>
      <div class="icon">
        <img src="" alt="Sunrise Icon" />
      </div>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-year">2016</div>
    <div class="timeline-content">
      <div class="text">
        <h3>Achieving milestones by spreading happiness</h3>
        <p>
          It was not long before we shifted gears and included mopeds and scooters to our fleet,
          became the single largest fleet owner of Royal Enfield bikes and introduced the 150 – 220
          motorcycle range in the mobility market.
        </p>
      </div>
      <div class="icon">
        <img src="" alt="Logo Icon" />
      </div>
    </div>
  </div>
</section>

<section class="founder-section">
   <h2>What founder has to say</h2>
      <div class="founder-slider">
      <div class="founder-card">
        <p>“We want to give access to 500 millions Indians to move around a motorcycle/scooter without having own them! We believe access is the new ownership.”</p>
        <div class="founder-image"><img src="" alt="Abhishek"></div>
        <div class="founder-name">Abhishek Chandrashekar</div>
        <div class="founder-role">Co-Founder & CEO, Royal Brothers</div>
      </div>

      <div class="founder-card">
        <p>“Our goal with Royal Brothers is to make bike rentals available across all cities and tourist destinations in India. This gives the people the freedom to move around without the hassles of owning a vehicle.”</p>
        <div class="founder-image"><img src="" alt="Akash"></div>
        <div class="founder-name">Akash S</div>
        <div class="founder-role">Co-Founder & CTO, Royal Brothers</div>
      </div>

      <div class="founder-card">
        <p>“I do not believe in promising the sky to all our consumers, but I know we can make life better and easier. We have been trying to build a solution for the masses.”</p>
        <div class="founder-image"><img src="" alt="Kuldip"></div>
        <div class="founder-name">Kuldip Purohit</div>
        <div class="founder-role">Co-Founder & CBO, Royal Brothers</div>
      </div>
    </div>
</section>

{% endblock %}