

     /************************************** Main Content */





.main_admin_section_container
{
 
  padding: 0px;
  margin-top: 20px;

gap:5rem;
  flex-direction: column;
  background-color:transparent;
   transition: all 0.3s ease;
   
}



    /* verify user panel-------------------------------------------------- */

.main_admin_section_USER{
  gap:3rem;
}
.main_admin_section_user{
  max-width: 1000px;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 5px;

}
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Table container with scroll */
.main_admin_section_user_table-container {
   overflow-y: scroll;
  overflow-x: auto;
  max-height: 400px;
  border: 1px solid #ccc;
  border-radius: 6px;
  
}

.actions button {
      padding: 5px 10px;
      margin-right: 5px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
    }

    .edit-btn {
      background-color: #28a745;
      color: white;
    }

    .delete-btn {
      background-color: #dc3545;
      color: white;
    }

    @media (max-width: 768px) {
      .main_admin_section_user_search-box {
        width: 100%;
        margin-bottom: 10px;
      }
    }
.main_admin_section_user_search-box {
      margin-bottom: 15px;
      text-align: center;
    }

    .main_admin_section_user_search-box input {
      padding: 8px 12px;
      width: 500px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 20px;;
    }

/* Table styles */
.main_admin_section_user_table-container table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.main_admin_section_user_table-container th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}



.main_admin_section_user_table-container thead th {
  background-color: #007bff;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main_admin_section_user_table-container tbody tr:hover {
  background-color: #f9f9f9;
}





/* Responsive */
@media (max-width: 768px) {
  table {
    font-size: 14px;
  }
}






    /* end of user verify panel */
/* mobile responsive panel */

