
.main_admin_section_ORDER{
  gap:3rem;
}
.main_admin_section_orderlist{
  max-width: 1000px;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 5px;

}
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Table container with scroll */
.main_admin_section_order_table-container {
   overflow-y: scroll;
  overflow-x: auto;
  max-height: 400px;
  border: 1px solid #ccc;
  border-radius: 6px;
  
}

.main_admin_section_order_table-container table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.main_admin_section_order_table-container th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.main_admin_section_order_table-container td{
  max-width: fit-content;
}

.main_admin_section_order_table-container thead th {
  background-color: #007bff;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main_admin_section_order_table-container tbody tr:hover {
  background-color: #f9f9f9;
}

.main_admin_section_order_table-container .center {
      text-align: center;
    }

