<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %}| Safejourny{% endblock %} | Safejourny</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--<link rel="stylesheet" href="/static/css/includes/home_header.css">
    
    <link rel="stylesheet" href="/static/css/includes/home_footer.css">
    <link rel="stylesheet" href="/static/css/pages_css/index.css">
    <link rel="stylesheet" href="/static/css/pages_css/cli_about.css">
    <link rel="stylesheet" href="/static/css/pages_css/filter_city_temp.css">
    <link rel="icon" href="/static/images/img/logo_header.png" type="image/png">-->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />         
    <link rel="stylesheet" type="text/css" href="{% static 'css/includes/home_footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/includes/home_header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages_css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages_css/filter_tariff.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages_css/filter_tariff_car.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages_css/cli_about.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages_css/filter_vcl.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages_css/filter_tariff_taxi.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages_css/filter_city_temp.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages_css/filter_select_car.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages_css/contatct.css' %}">
    <link rel='stylesheet' type="text/css" href="{% static 'css/pages_css/update_data.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_css/user_details.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_css/user_data.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_css/user_profile.details.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages_css/booking_popup.css' %}">
    
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages_css/user_facilities.css' %}">


    <link rel="icon" href="{% static 'images/img/logo_header.png' %}" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

    {% include "includes/home_header.html" %}


    {% block content %}
    <!-- Page-specific content goes here -->
    {% endblock %}

    {% include "includes/home_footer.html" %}